/* .account-filter {
  display: flex;
}

.account-container {
  display: flex;
  width: 25%;
  border: solid black;
  box-sizing: border-box;
  padding: 10px;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
} */


// Variables
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-family: 'Arial, sans-serif';
$padding: 16px;

// Dashboard Container
.dashboard {
  display: flex;
  font-family: $font-family;
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: $padding;
  
  // Accounts Section
  &__accounts {
    flex: 1;
    background-color: #fff;
    padding: $padding;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-right: $padding;
    max-width: 300px;

    h4 {
      margin-bottom: $padding / 2;
      color: $primary-color;
    }

    a {
      text-decoration: none;
      color: inherit;
      
      p {
        margin: 0;
        padding: $padding / 2;
        border-bottom: 1px solid #eee;

        &:hover {
          background-color: lighten($primary-color, 40%);
        }
      }
    }
  }
}

// Account Filter Container
.account-filter {
  flex: 3;
  background-color: #fff;
  padding: $padding;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-left: $padding;
}



