@media print {
    /* All your print styles go here */
    #navigation {
      display: none !important;
    }
  }
  
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid;
    background: black;
  }